/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --accent-text-color: #FFC2E6;
  --nav-color: #353430;
  --corner-color: #353430;
  --rec-color: #353430;
  --text-secondary: #353430;
  --text-secondary-dark: #353430;
  --background-image: url('../images/cover-image-light.png');
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec-indicator {
  display: none;
}

.theme-light .rec-dot {
  display: none;
}

.theme-light .section-title {
  color: var(--text-secondary-dark);
}
