/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Цвета для темной темы */
  --background-color: #000028;
  --accent-color: #ff0070;
  --corner-color: #ff0070;
  --rec-color: #ff0070;
  --nav-color: #ff0070;
  --text-link: #F1B2CE;
  --nav-hover-border: #FF007066;
  --accent-text-color: #DB00FF;
  --text-secondary: #F1B2CE;
  --text-secondary-dark: #000028;
  
  /* Шрифты */
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-base: 18px;
  --small-line-height: 83%;
  --regular-line-height: 100%;
  --large-line-height: 130%;
  --title-line-height: 82.5%;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --font-style: normal;
  --is-light: visible;
  
  /* Фоновое изображение */
  --background-image: url('../images/cover-image-dark.png');
}
